<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124494829-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-124494829-1');
        </script>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>liubetyg</title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>